body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* background-image: url('https://res.cloudinary.com/dx2nrp7at/image/upload/v1679455476/ImageForWeb/background_sp1wgq.jpg'); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
